*, *::before, *::after {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  :root {
    --hue-neutral:274;
    --hue-wrong: 0;
    --hue-correct: 145;
  }


.header-title {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 2px solid #000; /* Black border, you can change color and size */
  margin: 20px;
  padding: 20px; /* Space between text and border */
  margin: 20px 0px; /* Space around the box */
  border-radius: 5px; /* Rounded corners */
  background-color: white; /* Light grey background, change as needed */
  text-align: center; /* Center the text */
  box-shadow: 0 0 10px 2px;
}



body {
  --hue: var(--hue-neutral);
  display: flex;
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Horizontally centers children */
  justify-content: flex-start; /* Aligns children to the start of the container */
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 100%, 20%);
  #question {
    font-size: 32px;
    text-align: left;
  }
  
}


  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 28px;
    box-shadow: 0 0 px 0.5px;
    #score-container {
      font-size: 20px; /* Adjust as needed */
      color: white; /* Choose a color that fits your design */
      margin-top: 20px; /* Spacing above the score container */
      padding: 10px; /* Padding inside the container */
      background-color: hsl(var(--hue-neutral), 100%, 30%); /* Background color */
      border-radius: 5px; /* Rounded corners */
      text-align: center; /* Center the text inside */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
      display: none; /* Start hidden, will be shown via JavaScript */
    }
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
    
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 20%);
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    outline: none;
    #answer-buttons {
      font-size: 32px;
      text-align: left;

    }
  }
  
  .btn:hover {
    filter: brightness(110%);
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn, .topic-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

